.wallpaper {
    height: 100vh;
    background: url('../../assets/img/login-wallpeper.jpg');
}

.formStyle {
    color: #dc1a28;
}

form {
    border-radius: 10px;
}

.buttons {
    background-color: #dc1a28;
    color: white;
}
