/* body .container-fluid {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
  height: auto;
}
h2 {
    color: white;
} */

  /* background: #000; */


/* .row-genre {
height: 200px !important;
}
.container-fluid {
  height: 100%;
} */

/* .row-flex {
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
} */

.wallpaper {
  background: #000;
}